# config/sockd.service.template
#
# Template cho file service systemd của Dante SOCKS5 proxy server
# Tác giả: ThienTranJP

[Unit]
Description=Dante Socks Proxy v1.4.4
After=network.target

[Service]
Type=forking
PIDFile=/var/run/sockd.pid
ExecStart=/usr/sbin/sockd -D -f /etc/sockd.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
