# config/sockd.conf.template
#
# Template cho file cấu hình Dante SOCKS5 proxy server
# Tác giả: ThienTranJP

internal: %INTERFACE% port = %PORT%
external: %INTERFACE%
user.privileged: root
user.unprivileged: nobody
socksmethod: username
logoutput: /var/log/sockd.log

client pass {
    from: 0.0.0.0/0 to: 0.0.0.0/0
    log: error
    socksmethod: username
}

socks pass {
    from: 0.0.0.0/0 to: 0.0.0.0/0
    command: bind connect udpassociate
    log: error
    socksmethod: username
}
